.course-card {
  height: 200px;
  border-radius: 0;
  border: 0;
  box-shadow: 0 0 2px 0 rgba(119, 119, 119, 0.3);
  transition: box-shadow 0.5s;
}

.course-card-name {
  font-weight: bold;
}

.course-card-code {
  font-style: italic;
}

.course-card-introduction {
  color: #777;
  height: 55px;
}

/*
  Override link style
*/

a:hover {
  text-decoration: none;
}

a:hover .course-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}