.list-item-wrapper:hover {
  background-color: #ebf3f9;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 10px 0;
}

.item-text {
  display: flex;
  padding-left: 20px;
  align-items: center;
  height: 100%;
}

.item-name {
  font-weight: bold;
}

.item-email {
}

.icon {
  margin-right: 8px;
}