.student-item-wrapper:hover {
  background-color: #ebf3f9;
}

.student-item {
  display: flex;
  margin: 10px 0;
}

.student-item-text {
  display: flex;
  padding-left: 20px;
  align-items: center;
  height: 100%;
}

.student-item-name {
  font-weight: bold;
}

.student-item-email {
  margin-left: 15px;
}
